<div class="content big-banner" role="main">
<div class="container">
    <br><br><br><br><br><br>
    <div class="justify-content-center bg-light p-3 border">
        <div class="text-center">
            <h3>{{tienda.Nombre | uppercase }}</h3>
            <hr>
        </div>
        <div class="justify-content-center">
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>&nbsp;
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Nombre</strong></small>
                    <p class="h6">{{tienda.Nombre}}</p>
                </div>
            </div> 
        
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faStore'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Razón Social</strong></small>
                    <p class="h6">{{tienda.R_Social }}</p>
                </div>
            </div>
    
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faPhone'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Número</strong></small>
                    <p class="h6">{{tienda.N_Telefono }}</p>
                </div>
            </div> 
            
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkerAlt'></fa-icon>&nbsp;&nbsp;
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Dirección</strong></small>
                    <p class="h6">{{tienda.Direccion }}</p>
                </div>
            </div>
    
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-3x" [icon]='faGenderless'></fa-icon>&nbsp;
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Estado</strong></small>
                    <p class="h6">{{tienda.Estado }}</p>
                </div>
            </div>
    
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faClock'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Horario</strong></small>
                    <p class="h6">{{tienda.Horario }}</p>
                </div>
            </div>

            <div class="row justify-content-center p-3">
                <button [routerLink]="['/tienda/list']" class="btn btn-info container" ><fa-icon [icon]="faListAlt"></fa-icon>&nbsp;Volver</button>    
            </div>       
        </div>
    </div>
</div>
</div>