<div class="content big-banner" role="main">
<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <img width="100" alt="Angular Logo" src="../assets/Logo.png"/>
    </div>
    <br>
    <div class="justify-content-center bg-light p-3 border" >
        <div class="text-center">
            <h3>{{propietario.Nombres | uppercase }}</h3>
            <hr>
        </div>
        <div class="justify-content-center ">
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Nombres</strong></small>
                    <p class="h6">{{propietario.Nombres}}</p>
                </div>
            </div> 
        
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faUser'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Apellidos</strong></small>
                    <p class="h6">{{propietario.Apellidos }}</p>
                </div>
            </div>
    
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faIdCard'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Cedula</strong></small>
                    <p class="h6">{{propietario.Cedula }}</p>
                </div>
            </div> 
            
            <div class="media">
                <div class="media-left">
                    <fa-icon class="mr-3 fa-2x" [icon]='faPhone'></fa-icon>
                </div>
                <div class="media-body">
                    <small class="media-heading"><strong>Número</strong></small>
                    <p class="h6">{{propietario.N_Telefono }}</p>
                </div>
            </div>

            <div class="row justify-content-center p-3">
                <button [routerLink]="['/propietario/list']" class="btn btn-info container" ><fa-icon [icon]="faListAlt"></fa-icon>&nbsp;Volver</button>    
            </div>       
        </div>
    </div>            
</div>
</div>
